[submodule "bfmartin.ssh_known_hosts"]
	path = bfmartin.ssh_known_hosts
	url = git@github.com:mdrotthoff/bfmartin.ssh_known_hosts.git
[submodule "linux-system-roles.firewall"]
	path = linux-system-roles.firewall
	url = git@github.com:mdrotthoff/linux-system-roles.firewall
[submodule "linux-system-roles.network"]
	path = linux-system-roles.network
	url = git@github.com:mdrotthoff/linux-system-roles.network
[submodule "openstack.ara"]
	path = openstack.ara
	url = git@github.com:mdrotthoff/openstack.ara.git
[submodule "ansible"]
	path = ansible
	url = git@github.com:mdrotthoff/ansible.git
[submodule "wtcross.sudoers"]
	path = wtcross.sudoers
	url = git@github.com:mdrotthoff/wtcross.sudoers.git
[submodule "mdrotthoff.ansible-node"]
	path = mdrotthoff.ansible-node
	url = git@github.com:mdrotthoff/mdrotthoff.ansible-node.git
